a:link {
  text-decoration: none;
}

.App {
  text-align: center;
}

.navbar {
  margin: 10px;
  float: left;
  height: 100vh;
}

.li-item {
  padding: 0px, 0px, 7px, 7px;
  margin: 5px, 5px;
  height: 30px;
  width: 120px;
}

.input-box {
  margin-left: 100px;
}

.button {
  float: right;
}

.page-container {
  margin-right: 250px;
}

.category-list-style {
  width: 400px;
  margin-bottom: 10px;
  list-style: none;
  margin-left: 30%;
}

.div-box {
  width: 450px;
  height: 250px;
  border: solid 1px black;
  float: left;
  margin-right: 40px;
  padding: 15px;
}

.ui-button {
  height: 60px;
  width: 150px;
  float: left;
  margin-top: 20px;
  padding-top: 25px;
  text-align: center;
  border: solid 1px black;
}

.add-expense-modal {
  height: 500px;
  width: 500px;
  background-color: cornsilk;
  border: solid 1px burlywood;
  /* clear: right; */
  /* display: block; */
}

.expense-div {
  width: 500px;
  height: auto;
  border: solid 1px black;
  float: left;
  margin-right: 40px;
  padding: 15px;
  clear: both;
  margin-left: inherit;
}

.single-expense-details {
  height: 40px;
  width: 65%;
  margin: auto;
  text-align: center;
  border: solid 1px black;
  padding: 7px;
  margin-top:7px;
}