a:link {
  text-decoration: none;
}

.App {
  text-align: center;
}

.navbar {
  margin: 10px;
  float: left;
}

.li-item {
  padding: 0px, 0px, 7px, 7px;
  margin: 5px, 5px;
  height: 30px;
  width: 120px;
}

.input-box {
  margin-left: 100px;
}

.button {
  float: right;
}

.page-container {
  margin-right: 250px;
}

.category-list-style {
  width: 400px;
  margin-bottom: 10px;
  list-style: none;
  margin-left: 30%;
}

.div-box {
  width: 450px;
  height: 250px;
  border: solid 1px black;
  float: left;
  margin-right: 40px;
  padding: 15px;
}