a:link {
  text-decoration: none;
}

.App {
  text-align: center;
}

.navbar {
  margin: 10px;
  float: left;
  height: 400px;
}

.container-div {
  margin-left: 20%;
  padding-bottom: 100px;
}

.li-item {
  padding: 0px, 0px, 7px, 7px;
  margin: 5px, 5px;
  height: 30px;
  width: 120px;
}

.input-box {
  margin-left: 100px;
}

.button {
  float: right;
}

.page-container {
  margin-right: 250px;
}

.category-list-style {
  width: 400px;
  margin-bottom: 10px;
  list-style: none;
  margin-left: 30%;
}

.div-box {
  width: 400px;
  height: 250px;
  float: left;
  margin-right: 25px;
  padding: 15px;
  margin-bottom: 0px;
  border-radius: 3px;
  border: solid 1px #A1A6B4;
  box-shadow: 3px 3px 4px #4C5454;
}

.add-expense-button {
  /* border-radius: 3px; */
  /* border: solid 1px #A1A6B4;
  box-shadow: 3px 3px 4px #4C5454; */
  background-color: #235789;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  padding-top: 8px;
  height: 40px;
  width: 150px;
  clear: left;
  text-align: center;
  margin-top: 20px;
}

/* .add-expense-modal {
  height: 500px;
  width: 500px;
  padding: 15px;
  background-color: cornsilk;
  border: solid 1px black;
  border-radius: 5px;
} */

.expense-div {
  width: 500px;
  height: auto;
  float: left;
  padding: 15px;
  clear: both;
  margin-top: 15px;
  /* border: solid 1px #A1A6B4; */
  box-shadow: 3px 3px 4px #4C5454;
  margin-bottom: 50px;
}

.single-expense-details {
  height: 40px;
  width: 65%;
  margin: auto;
  text-align: center;
  /* border: solid 1px black; */
  box-shadow: 1px 1px 2px #4C5454;
  padding: 7px;
  margin-top:7px;
}

.form-element {
  margin-bottom: 7px;
}

.submit-btn {
  background-color: #235789;
  color: #ffffff;
  border: none;
  border-radius: 3px;
  padding: 12px;
}